<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="active">Dashboard</li>
                </ol>

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 style="padding-left: 5%">Your activity</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li><p>Threads created: {{nrThreads}}</p></li>
                                    <li><p>Thread comments: {{nrPosts}}</p></li>
                                    <li><p>Surveys completed: -</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="well">
                            <form class="form-horizontal" role="form">
                                <h4>Notes</h4>
                                <div class="form-group" style="padding:14px">
                                    <textarea class="form-control" style="resize:none; height:200px" placeholder="Taking notes might help you."></textarea>
                                </div>
                                <div class="row" style="padding-right: 5%; padding-left:5%">
                                    <button class="btn btn-success pull-right" type="button">Commit</button>
                                    <button class="btn btn-warning pull-left" type="button">Clear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 style="padding-left: 5%">Site activity</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li><p>Threads: -</p></li>
                                    <li><p>Total comments: -</p></li>
                                    <li><p>Surveys: -</p></li>
                                    <li><p>Users: -</p></li>
                                    <li><p>Games: -</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 style="padding-left: 5%">Help</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li><p>Threads: -</p></li>
                                    <li><p>Total comments: -</p></li>
                                    <li><p>Surveys: -</p></li>
                                    <li><p>Users: -</p></li>
                                    <li><p>Games: -</p></li>
                                </ul>
                                <button class="btn btn-primary pull-right">Forum</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 style="padding-left: 5%">Latest News</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li><p>A new game has been included in the survey program. Feel free to try it now.</p></li>
                                    <li><p>Total comments: -</p></li>
                                    <li><p>Surveys: -</p></li>
                                    <li><p>Users: -</p></li>
                                    <li><p>Games: -</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->