<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid col-sm-12">
                <form class="navbar-form navbar-left pull-right col-sm-12" role="search">
                    <div class="form-group col-sm-12">
                        <input type="text" class="form-control input-normal col-sm-12" placeholder="Search" ng-model="searchText">
                    </div>
                </form>
            </div>
        </nav>

        <table class="table table-hover table-striped">
            <colgroup>
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 80%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tr ng-repeat="user in users | filter:searchText">
                <td><img ng-src="{{user.avatar}}" style="max-height: 40px; max-width: 40px"/></td>
                <td>
                    <span class="label label-primary">{{user.service}}</span>
                    <h4 style="padding-top:0px">from {{user.username}}</h4>
                </td>
                <td><span class="badge">{{user.type}}</span></td>
            </tr>
        </table>
    </div>
</div>
<!-- /#page-content-wrapper -->