<div class="modal-header">
    <h3 class="modal-title">New Survey</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal" role="form">
        <!-- Title -->
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputTitle" placeholder="Enter survey title" ng-model="input.surveyTitle">
            </div>
            <div class="col-sm-1"/>
        </div>

        <!-- Question selection -->
        <div class="form-group">
            <label for="inputSelect" class="col-sm-2 control-label">Questions</label>
            <div class="col-sm-8">
                <select type="text" class="form-control" id="inputSelect" ng-model="input.inputSelect" multiple="multiple">
                    <option data-ng-repeat="question in inputSelect" ng-click="elaborate(question)">{{question.title}}</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="add_question()"> <span class="glyphicon glyphicon-plus-sign"></span> New </button>
            </div>
            <div class="col-sm-1"/>
        </div>
        <br>

        <!-- Elaborated question -->
        <div class="container-fluid" ng-if="isElaborated">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Question -->
                    <div class="form-group">
                        <label for="inputQuestion" class="col-sm-2 control-label">Question: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputQuestion" placeholder="question" ng-model="question.title">
                        </div>
                        <div class="col-sm-1"/>
                    </div>
                    <!-- Answers -->
                    <div class="form-group">
                        <label for="inputAnswers" class="col-sm-10 control-label pull-left">Answers: </label>
                        <button type="button" class="btn btn-primary" ng-click="add_answer(question)"> <span class="glyphicon glyphicon-plus-sign"></span> </button>
                        <ul data-ng-repeat="answer in question.answers">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAnswers" placeholder="answer" ng-model="answer">
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Submit/Cancel panel -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-click='submit()'>Submit</button>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="error == 'true'">{{errorMessage}}</div>
    </form>
</div>