<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">


        <!------------------------------------------------------------------------------------------------------------->
        <!----------------------------------------------PAYMENT-------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->

        <div class="row">
            <div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <h3>Payment</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div>
                <label class="col-sm-12 control-label" style="border: 1px solid"></label>
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="container-fluid">
                <div class="col-md-6">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 align="center"><b>Survey Subscription</b></h4>
                                <br>
                                <h6> SUBSCRIPTION:</h6>
                                <ul class="list-group">
                                    <li class="list-group-item"><input type="radio"> <b>5 Survey Slots - EUR 1.99/mo</b></li>
                                    <li class="list-group-item"><input type="radio"> <b>10 Survey Slots - EUR 3.49/mo</b></li>
                                    <li class="list-group-item"><input type="radio"> <b>20 Survey Slots - EUR 6.99/mo</b></li>
                                </ul>
                                <div class="col-sm-6" style="padding: 0px">
                                    <h6 align="center">PAYMENT METHOD:</h6>
                                    <div class="dropdown">
                                        <button style="width: 100%" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                            Select Payment Method
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="padding: 0px" align="center">
                                    <h6>WE ACCEPT:</h6>
                                    <img src="http://www.extenzedirect.com/images/online_payment_methods_pp.gif" style="max-height: 34px; max-width: 190px"/>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" >
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 align="center"><b>Poster Subscription</b></h4>
                                <br>
                                <h6> SUBSCRIPTION:</h6>
                                <ul class="list-group">
                                    <li class="list-group-item"><input type="radio"> <b>5 Poster Slots - EUR 1.99/mo</b></li>
                                    <li class="list-group-item"><input type="radio"> <b>10 Poster Slots - EUR 3.49/mo</b></li>
                                    <li class="list-group-item"><input type="radio"> <b>20 Poster Slots - EUR 6.99/mo</b></li>
                                </ul>
                                <div class="col-sm-6" style="padding: 0px">
                                    <h6 align="center">PAYMENT METHOD:</h6>
                                    <div class="dropdown">
                                        <button style="width: 100%" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                            Select Payment Method
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="padding: 0px" align="center">
                                    <h6>WE ACCEPT:</h6>
                                    <img src="http://www.extenzedirect.com/images/online_payment_methods_pp.gif" style="max-height: 34px; max-width: 190px"/>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" >
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>



        <!------------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------SURVEY LIST----------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->

        <div class="row">
            <div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <h3>Survey List</h3>
                </div>
                <div class="col-sm-2" style="height: 100%"></div>
            </div>

            <div>
                <label class="col-sm-12 control-label" style="border: 1px solid"></label>
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2" style="border-right: 2px solid; border-color: lightslategray" align="center">
                                <h5><b>Common Tasks:</b></h5>
                            </div>
                            <div class="col-md-6" style="border-right: 2px solid; border-color: lightslategray" align="center">
                                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="newSurvey()">
                                    <span class="glyphicon glyphicon-plus" style="margin-right: 4px"></span>
                                    New Survey
                                </button>
                                <button type="button" class="btn btn-default" >
                                    <span class="glyphicon glyphicon-folder-open" style="margin-right: 4px"></span>
                                    Load Survey
                                </button>
                                <button type="button" class="btn btn-default" ng-click="deleteSurvey()">
                                    <span class="glyphicon glyphicon-trash" style="margin-right: 4px"></span>
                                    Delete Selected
                                </button>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="padding-left: 40px; padding-right: 40px">
                <table class="table table-hover table-condensed table-bordered" ng-if="nrSurveys > 0">
                    <colgroup>
                        <col span="1" style="width: 4%;">
                        <col span="1" style="width: 8%;">
                        <col span="1" style="width: 57%;">
                        <col span="1" style="width: 6%;">
                        <col span="1" style="width: 25%;">
                    </colgroup>
                    <thead>
                        <tr align="center">
                            <td></td>
                            <td><b>Status</b></td>
                            <td align="justify"><b>Title</b></td>
                            <td><b>Edit</b></td>
                            <td><b>Create Date</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="survey in surveys" align="center">
                            <td><label><input type="checkbox" name="selectedSurveys[]" value="{{survey.id}}" ng-model="checkbox"></label></td>
                            <td><span class="label label-success">{{survey.status}}</span></td>
                            <td align="justify">{{survey.title}}</td>
                            <td><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td>{{survey.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <br>
        <br>



        <!------------------------------------------------------------------------------------------------------------->
        <!---------------------------------------PUBLICITY POSTERS----------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->

        <div class="row">
            <div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <h3>Publicity Posters</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div>
                <label class="col-sm-12 control-label" style="border: 1px solid"></label>
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2" style="border-right: 2px solid; border-color: lightslategray" align="center">
                                <h5><b>Common Tasks:</b></h5>
                            </div>
                            <div class="col-md-6" style="border-right: 2px solid; border-color: lightslategray" align="left">
                                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="newPoster()" >
                                    <span class="glyphicon glyphicon-plus" style="margin-right: 4px"></span>
                                    Add poster
                                </button>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control pull-right" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3" ng-repeat="poster in posters">
                    <div class="thumbnail">
                        <div style="height: 200px; width: 100%" align="center">
                            <img ng-src="{{poster.url}}" style="max-width: 200px; max-height: 200px" alt="http://plus4chan.org/b/mspa/src/135510948622.png">
                        </div>
                        <div class="caption">
                            </br>
                            <row>
                                <button type="button" class="btn btn-default pull-left" ng-click="updatePoster(poster.id)" >
                                    <span class="glyphicon glyphicon-pencil" style="margin-right: 4px"></span>
                                    Edit
                                </button>
                                <button type="button" class="btn btn-default pull-right" ng-click="deletePoster(poster.id)" >
                                    <span class="glyphicon glyphicon-trash" style="margin-right: 4px"></span>
                                    Delete
                                </button>
                            </row>
                            </br>
                            </br>
                            <h5 align="center"><b>Description</b></h5>
                            <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque ultricies enim, et sagittis leo imperdiet et. Sed et facilisis eros, blandit imperdiet lacus. Phasellus porta leo eget dui suscipit, eu molestie purus iaculis.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div align="center">
                <ul class="pagination no-top-margin" ng-if="nrPages > 1">
                    <li ng-show="currentPage==1" class="disabled"><span>&laquo;</span></li>
                    <li ng-show="currentPage!=1"><a href ng-click="changePage(prevPage)">&laquo;</a></li>
                    <li data-ng-repeat="page in pages" ng-class="{active: page.index == currentPage}">
                        <a href ng-click="changePage(page.index)">{{page.index}}</a>
                    </li>
                    <li ng-show="currentPage==nrPages" class="disabled"><span>&raquo;</span></li>
                    <li ng-show="currentPage!=nrPages"><a href ng-click="changePage(nextPage)">&raquo;</a></li>
                </ul>
            </div>
        </div>

        <br>


    </div>
</div>
<!-- /#page-content-wrapper -->