
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="active">Edit</li>
                </ol>


                <!-- USER DATA EDIT PROFILE.
                        EMAIL, FNAME, LNAME, AVATAR-->
                <div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <h3>User Data</h3>
                    </div>
                </div>
                <div>
                    <div class="col-sm-2"></div>
                    <label class="col-sm-8 control-label" style="border: 1px solid"></label>
                    <div class="col-sm-2"><</div>
                </div>
                <form class="form-horizontal">
                    <!-- EMAIL -->
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="inputEmail" placeholder="{{loggedUser.user.email}}" ng-model="input.emailVal">
                        </div>
                    </div>

                    <!-- FIRST NAME -->
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputFirstName" placeholder="{{loggedUser.user.firstName}}" ng-model="input.firstName">
                        </div>
                    </div>

                    <!-- LAST NAME -->
                    <div class="form-group">
                        <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputLastName" placeholder="{{loggedUser.user.lastName}}" ng-model="input.lastName">
                        </div>
                    </div>

                    <!-- AVATAR LINK -->
                    <div class="form-group">
                        <label for="inputAvatar" class="col-sm-2 control-label">Avatar</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputAvatar" placeholder="{{loggedUser.user.avatar}}" ng-model="input.avatar">
                        </div>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click='changeData()'>Submit</button>
                        </div>
                    </div>

                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorData == 'true'">
                        <strong>Alert! </strong> {{errorMessageData}}
                        <button type="button" class="close" data-dismiss="alert" ng-click='closeErrorData()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="successData == 'true'">
                        <button type="button" class="close" data-dismiss="alert" ng-click='closeSuccessData()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Success! </strong> {{successMessageData}}
                    </div>
                </form>
                <br>

                <div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <h3>Change Password</h3>
                    </div>
                </div>
                <div>
                    <div class="col-sm-2"></div>
                    <label class="col-sm-8 control-label" style="border: 1px solid"></label>
                    <div class="col-sm-2"><</div>
                </div>
                <form class="form-horizontal">
                    <!-- CURRENT PASSWORD -->
                    <div class="form-group">
                        <label for="inputCurrentPassword" class="col-sm-2 control-label">Current Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputCurrentPassword" placeholder="Current Password" ng-model="input.currentPassword">
                        </div>
                    </div>
                    <!-- NEW PASSWORD -->
                    <div class="form-group">
                        <label for="inputNewPassword" class="col-sm-2 control-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputNewPassword" placeholder="New Password" ng-model="input.newPassword">
                        </div>
                    </div>
                    <!-- CONFIRM NEW PASSWORD -->
                    <div class="form-group">
                        <label for="inputConfirmNewPassword" class="col-sm-2 control-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputConfirmNewPassword" placeholder="Confirm New Password" ng-model="input.confirmNewPassword">
                        </div>
                    </div>
                    <!-- SUBMIT BUTTON -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click='changePassword()'>Submit</button>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorPassword == 'true'">
                        <strong>Alert! </strong> {{errorMessagePassword}}
                        <button type="button" class="close" data-dismiss="alert" ng-click='closeErrorPassword()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="successPassword == 'true'">
                        <button type="button" class="close" data-dismiss="alert" ng-click='closeSuccessData()'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Success! </strong> {{successMessagePassword}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->